@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300&display=swap');

body {
  background: linear-gradient(90deg, rgba(202,223,192,1) 0%, rgba(228,255,214,1) 50%, rgba(202,223,192,1) 100%);
}

#landing {
  position: fixed;
  top: 46%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

#landing h1 {
  font-family: 'Alfa Slab One', cursive;
  font-size: 45px;
}

#landing p {
  font-family: 'Indie Flower', cursive;
  font-size: 20px;
}

.ant-btn {
  background: transparent !important;
  border: 1px solid black !important;
}

.ant-modal-header {
  background-color: darkolivegreen !important;
  
}

.ant-modal-title {
  color: white !important;
}

.ant-layout-header {
  background-color: darkolivegreen !important;
}

.ant-layout-header h1{
  font-family: 'Alfa Slab One', cursive;
  color: white;
}

.ant-layout {
  min-height: 94vh !important;
}

#sidebar {
  background-color: rgba(202,223,192,1) !important;
}

#sidebar .ant-layout-sider-children {
  padding-top: 2rem;
}

#sidebar .ant-menu {
  background: transparent !important;
  color: black;
  border-right: none !important;
  text-align: center;
  font-size: 22px;
  font-family: 'Montserrat Alternates', sans-serif;
}

#sidebar .ant-menu-item {
  margin-top: 2rem;
}

#content {
  padding-left: 5rem;
  padding-top: 5rem;
}

#newtab {
  font-family: 'Montserrat Alternates', sans-serif;
  padding-left: 5rem;
}

#newtab .ant-form-item-required {
  font-size: 25px !important;
}

#currenttabs .ant-collapse {
  width: 80%;
  margin-left: 5rem;
  font-family: 'Montserrat Alternates', sans-serif;
  border: none;
  background:transparent;
}

#currenttabs .ant-collapse .ant-collapse-header {
  font-size: 24px !important;
}

#tabcard {
  padding-left: 5rem;
}

#itemcard {
  padding-top: 1rem;
  width: 60%;
}

#itemcard .ant-space {
  width: 130%;
}

#itemcard .ant-space .ant-space-item:hover {
  text-decoration: underline;
}

.ant-btn-primary {
  color: black !important;
}

#singleitem {
  font-size: 20px;
}

#currenttabs .ant-collapse-content {
  border: none;
  padding-left: 3rem;
  font-size: larger;
  background: rgba(202,223,192,1);
}